/* Main page CSS */

body {
	background: #191c1e;
	color: #c2c2c2;
	font: medium Helvetica;
	font-size: medium;
	font-weight: 400;
}

h1 {
	color: white;
	line-height: normal;
	font-size: xx-large;
	font-weight: 400;
}

h3 {
	color: white;
	line-height: normal;
	font-size: x-large;
	font-weight: 400;
}

h4 {
	color: white;
	line-height: normal;
	font-size: large;
	font-weight: 400;
}

red {
	color: #e0474b
}

lime {
	color: #e4ff10
}

yellow {
	color: #ffd702
}

blue {
	color: #1a94ff
}

pink {
	color: #d86ac2
}

orange {
	color: #efa553
}

paleblue {
	color: #8c90e5
}

lightblue {
	color: #86dbfd
}
